In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm

In [2]:
demo1 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_0_500000.csv")
demo2 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_500000_1000000.csv")
demo3 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_1000000_1500000.csv")
demo4 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_1500000_2000000.csv")
demo5 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_2000000_2071700.csv")
demo  = pd.concat([demo1 , demo2 , demo3 , demo4 , demo5], ignore_index=True)
demo.drop('date', axis=1, inplace=True)

In [3]:
enrol1 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_enrolment\api_data_aadhar_enrolment\api_data_aadhar_enrolment_0_500000.csv")
enrol2 = pd.read_csv (r"C:\Users\atulk\Downloads\api_data_aadhar_enrolment\api_data_aadhar_enrolment\api_data_aadhar_enrolment_500000_1000000.csv")
enrol3 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_enrolment\api_data_aadhar_enrolment\api_data_aadhar_enrolment_1000000_1006029.csv")
enrol = pd.concat( [enrol1 , enrol2, enrol3] , ignore_index = True)
enrol.drop('date', axis=1, inplace=True)

In [4]:
bio1 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_0_500000.csv")
bio2 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_500000_1000000.csv")
bio3 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_1000000_1500000.csv")
bio4 = pd.read_csv(r"C:\Users\atulk\Downloads\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_1500000_1861108.csv")
bio =  pd.concat( [bio1, bio2 , bio3 , bio4] , ignore_index = True)
bio.drop('date', axis=1, inplace=True)

In [5]:
enrol.drop('age_0_5', axis=1, inplace=True)

In [6]:
df_bio = bio.groupby(['state', 'district' , 'pincode']).sum().reset_index()

In [7]:
final_bio = df_bio.groupby('district').agg({
    'pincode' : 'first',
    'state': 'first',      # Keep the first state name found for that district
    'bio_age_5_17': 'sum' , # Sum the counts
    'state': 'first',      # Keep the first state name found for that district
    'bio_age_17_': 'sum'  # Sum the counts
}).reset_index()

In [8]:
final_bio.head()

     district  pincode              state  bio_age_5_17  bio_age_17_
0           ?   181206  Jammu and Kashmir             0            1
1       ANGUL   759119             Odisha             3            2
2      ANUGUL   759119             Odisha            80          165
3    Adilabad   504001     Andhra Pradesh         57131        75190
4  Agar Malwa   465230     Madhya Pradesh          5721        11092

In [9]:
df_demo =  demo.groupby([  'state' , 'district' , 'pincode' ]).sum().reset_index()

In [10]:
final_demo = df_demo.groupby('district').agg({
    'pincode' : 'first',
    'state': 'first',      # Keep the first state name found for that district
    'demo_age_5_17': 'sum' , # Sum the counts
    'state': 'first',      # Keep the first state name found for that district
    'demo_age_17_': 'sum'  # Sum the counts
}).reset_index()

In [11]:
final_demo.head()

    district  pincode           state  demo_age_5_17  demo_age_17_
0     100000   100000          100000              0             2
1  5th cross   560078    Puttenahalli              0             1
2      ANGUL   759119          Odisha              1             8
3     ANUGUL   759119          Odisha              4           141
4   Adilabad   504001  Andhra Pradesh           9009         66292

In [12]:
df_enrol =  enrol.groupby([  'state' , 'district' , 'pincode' ]).sum().reset_index()

In [13]:
final_enrol = df_enrol.groupby('district').agg({
    'pincode' : 'first',
    'state': 'first',      # Keep the first state name found for that district
    'age_5_17': 'sum' , # Sum the counts
    'state': 'first',      # Keep the first state name found for that district
    'age_18_greater': 'sum'  # Sum the counts
}).reset_index()

In [14]:
df = pd.merge(
    final_demo, 
    final_bio, 
    on=['state', 'district', 'pincode'], 
    how='inner'
)

In [15]:
df.head()

,district,pincode,state,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_
0,ANGUL,759119,Odisha,1,8,3,2
1,ANUGUL,759119,Odisha,4,141,80,165
2,Adilabad,504001,Andhra Pradesh,9009,66292,57131,75190
3,Agar Malwa,465230,Madhya Pradesh,965,8919,5721,11092
4,Agra,202412,Uttar Pradesh,18477,157476,152308,82740

In [16]:
bio_age_sum = ['bio_age_5_17' , 'bio_age_17_']
df['bio_total']= df[bio_age_sum].sum(axis=1)

In [17]:
demo_age_sum = ['demo_age_5_17','demo_age_17_']
df['demo_total']= df[demo_age_sum].sum(axis=1)

In [18]:
df.head()

,district,pincode,state,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,bio_total,demo_total
0,ANGUL,759119,Odisha,1,8,3,2,5,9
1,ANUGUL,759119,Odisha,4,141,80,165,245,145
2,Adilabad,504001,Andhra Pradesh,9009,66292,57131,75190,132321,75301
3,Agar Malwa,465230,Madhya Pradesh,965,8919,5721,11092,16813,9884
4,Agra,202412,Uttar Pradesh,18477,157476,152308,82740,235048,175953

In [19]:
#Digital Trust Index (DTI) 
df['DTI'] = df['demo_total'] / df['bio_total']

In [20]:
df.head()

,district,pincode,state,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,bio_total,demo_total,DTI
0,ANGUL,759119,Odisha,1,8,3,2,5,9,1.800000
1,ANUGUL,759119,Odisha,4,141,80,165,245,145,0.591837
2,Adilabad,504001,Andhra Pradesh,9009,66292,57131,75190,132321,75301,0.569078
3,Agar Malwa,465230,Madhya Pradesh,965,8919,5721,11092,16813,9884,0.587878
4,Agra,202412,Uttar Pradesh,18477,157476,152308,82740,235048,175953,0.748583

In [21]:
df = df.sort_values(by='DTI')

In [22]:
min_val = df['DTI'].min()
max_val = df['DTI'].max()

df['Score'] = ((df['DTI'] - min_val) / (max_val - min_val)) * 100

In [23]:
df = df[5:-3]

In [24]:
df['Score'].describe()

count    796.000000
mean       1.163864
std        1.980086
min        0.121341
25%        0.425876
50%        0.690720
75%        1.135165
max       28.827299
Name: Score, dtype: float64

In [25]:
df.to_excel("result22.xlsx", index=False)

In [26]:
df2 = pd.read_excel(r"C:\Users\atulk\Downloads\state11.xlsx")

In [27]:
df2.head()

                         state  state_ratio  state_score
0  Andaman and Nicobar Islands     0.350082     8.224674
1            Arunachal Pradesh     0.503398    20.109582
2                        Assam     1.030381    60.960798
3                        Bihar     0.983004    57.288221
4                  Chhatisgarh     0.757131    39.778702

In [28]:
df2

                                       state  state_ratio  state_score
0                Andaman and Nicobar Islands     0.350082     8.224674
1                          Arunachal Pradesh     0.503398    20.109582
2                                      Assam     1.030381    60.960798
3                                      Bihar     0.983004    57.288221
4                                Chhatisgarh     0.757131    39.778702
5   Dadra and Nagar Haveli and Daman and Diu     0.310787     5.178584
6                                      Delhi     1.103171    66.603397
7                                        Goa     0.513473    20.890566
8                                    Gujarat     0.570724    25.328618
9                                    Haryana     0.713037    36.360632
10                          Himachal Pradesh     0.376581    10.278803
11                         Jammu and Kashmir     0.514373    20.960363
12                                 Jharkhand     0.691502    34.691244
13                                 Karnataka     0.643139    30.942173
14                                    Kerala     0.462781    16.960962
15                                    Ladakh     0.995141    58.229065
16                            Madhya Pradesh     0.491737    19.205635
17                               Maharashtra     0.547857    23.555972
18                                   Manipur     1.067101    63.807340
19                                 Meghalaya     0.997170    58.386302
20                                   Mizoram     0.348262     8.083567
21                                  Nagaland     0.335706     7.110230
22                                    Odisha     0.451149    16.059307
23                               Pondicherry     0.468659    17.416627
24                                    Punjab     0.532070    22.332186
25                                 Rajasthan     0.705293    35.760311
26                                    Sikkim     0.891323    50.181189
27                                Tamil Nadu     0.470875    17.588459
28                                 Telangana     0.937993    53.799005
29                                   Tripura     0.472397    17.706369
30                             Uttar Pradesh     0.891894    50.225451
31                               Uttarakhand     0.606249    28.082509
32                               West Bengal     1.533989   100.000000
33                            andhra pradesh     0.617984    28.992139

In [29]:
# df1 = [state, state ratio]
# df2 = [state, district, dti]

# Merge df2 with df1 based on the 'state' column
df_final = pd.merge(df, df2, on='state', how='left')

In [30]:
df_final.head()

,district,pincode,state,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,bio_total,demo_total,DTI,Score,state_ratio,state_score
0,Nandurbar,425408,Maharashtra,2966,38078,67146,132601,199747,41044,0.205480,0.121341,0.547857,23.555972
1,West Nimar,450116,Madhya Pradesh,210,1849,2548,7270,9818,2059,0.209717,0.126161,0.491737,19.205635
2,Dakshin Bastar Dantewada,494111,Chhattisgarh,1408,4488,8064,19147,27211,5896,0.216677,0.134079,NaN,NaN
3,Burhanpur,450221,Madhya Pradesh,3248,13295,33915,40226,74141,16543,0.223129,0.141419,0.491737,19.205635
4,Najafgarh,110043,Delhi,9,186,51,794,845,195,0.230769,0.150111,1.103171,66.603397

In [31]:
# Drops rows where 'district' is NaN
df22 = df_final.dropna(subset=['state_ratio'])

In [32]:
df22.head()

,district,pincode,state,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,bio_total,demo_total,DTI,Score,state_ratio,state_score
0,Nandurbar,425408,Maharashtra,2966,38078,67146,132601,199747,41044,0.205480,0.121341,0.547857,23.555972
1,West Nimar,450116,Madhya Pradesh,210,1849,2548,7270,9818,2059,0.209717,0.126161,0.491737,19.205635
3,Burhanpur,450221,Madhya Pradesh,3248,13295,33915,40226,74141,16543,0.223129,0.141419,0.491737,19.205635
4,Najafgarh,110043,Delhi,9,186,51,794,845,195,0.230769,0.150111,1.103171,66.603397
5,Unakoti,799254,Tripura,499,3144,11699,4034,15733,3643,0.231552,0.151001,0.472397,17.706369

In [33]:
df22['DTI index'] = df22['Score'] / df22['state_score']

C:\Users\atulk\AppData\Local\Temp\ipykernel_2104\3813167788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df22['DTI index'] = df22['Score'] / df22['state_score']

In [34]:
df22.head()

,district,pincode,state,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,bio_total,demo_total,DTI,Score,state_ratio,state_score,DTI index
0,Nandurbar,425408,Maharashtra,2966,38078,67146,132601,199747,41044,0.205480,0.121341,0.547857,23.555972,0.005151
1,West Nimar,450116,Madhya Pradesh,210,1849,2548,7270,9818,2059,0.209717,0.126161,0.491737,19.205635,0.006569
3,Burhanpur,450221,Madhya Pradesh,3248,13295,33915,40226,74141,16543,0.223129,0.141419,0.491737,19.205635,0.007363
4,Najafgarh,110043,Delhi,9,186,51,794,845,195,0.230769,0.150111,1.103171,66.603397,0.002254
5,Unakoti,799254,Tripura,499,3144,11699,4034,15733,3643,0.231552,0.151001,0.472397,17.706369,0.008528

In [35]:
df22.count()

district         703
pincode          703
state            703
demo_age_5_17    703
demo_age_17_     703
bio_age_5_17     703
bio_age_17_      703
bio_total        703
demo_total       703
DTI              703
Score            703
state_ratio      703
state_score      703
DTI index        703
dtype: int64

In [36]:
df22.describe()

,pincode,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,bio_total,demo_total,DTI,Score,state_ratio,state_score,DTI index
count,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000
mean,532817.604552,5192.197724,49015.947368,37035.780939,39176.921764,76212.702703,54208.145092,1.085383,1.122355,0.720031,36.902781,0.033315
std,233975.491945,5992.982510,59596.745766,39622.127721,47405.972242,83371.279602,64977.904035,1.678148,1.909130,0.289408,22.434599,0.056727
min,110001.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.205480,0.121341,0.310787,5.178584,0.002254
25%,331024.500000,534.000000,5945.500000,3333.500000,4287.000000,8419.000000,6583.500000,0.461444,0.412536,0.491737,19.205635,0.015787
50%,562163.000000,3523.000000,28998.000000,26620.000000,25334.000000,56755.000000,33242.000000,0.706135,0.690907,0.643139,30.942173,0.021379
75%,768014.000000,7373.500000,66645.000000,56822.000000,56693.500000,117319.500000,75619.000000,1.054019,1.086674,0.891894,50.225451,0.032355
max,854102.000000,39744.000000,411163.000000,283480.000000,368377.000000,605762.000000,447253.000000,25.438356,28.827299,1.533989,100.000000,0.931651

In [37]:
df22 = df22.sort_values(by='DTI index')

In [38]:
df22

,district,pincode,state,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,bio_total,demo_total,DTI,Score,state_ratio,state_score,DTI index
4,Najafgarh,110043,Delhi,9,186,51,794,845,195,0.230769,0.150111,1.103171,66.603397,0.002254
14,North East,110053,Delhi,360,11467,2393,44227,46620,11827,0.253689,0.176186,1.103171,66.603397,0.002645
8,Purbi Singhbhum,831001,Jharkhand,86,4780,3984,16575,20559,4866,0.236685,0.156840,0.691502,34.691244,0.004521
0,Nandurbar,425408,Maharashtra,2966,38078,67146,132601,199747,41044,0.205480,0.121341,0.547857,23.555972,0.005151
82,Medchalmalkajgiri,500014,Telangana,425,1252,3466,1147,4613,1677,0.363538,0.301154,0.937993,53.799005,0.005598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,Hnahthial,796186,Mizoram,4,43,10,7,17,47,2.764706,3.032821,0.348262,8.083567,0.375184
737,Shamator,798628,Nagaland,51,382,36,134,170,433,2.547059,2.785217,0.335706,7.110230,0.391720
745,Chumukedima,797103,Nagaland,254,1583,245,406,651,1837,2.821813,3.097788,0.335706,7.110230,0.435680
779,Khawzawl,796310,Mizoram,8,27,6,2,8,35,4.375000,4.864758,0.348262,8.083567,0.601808
795,Bengaluru South,560060,Karnataka,326,3388,23,123,146,3714,25.438356,28.827299,0.643139,30.942173,0.931651

In [41]:
df22[[ 'district' , 'pincode' , 'state' , 'DTI' , 'state_ratio' , 'DTI index' ]].to_excel('district-wise-DTI.xlsx', index=False)